extends main_layout

block main_body

	div.jumbotron
			div.align-center

				div.banner
					span.title 1 SET &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					span.title 목표 개수 10 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					span(class='bold', id='count_set1_val') 0

				div.banner
					span.title 2 SET &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					span.title 목표 개수 10 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					span(class='bold', id='count_set2_val') 0

				div.banner
					span.title 3 SET &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					span.title 목표 개수 10 &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;
					span(class='bold', id='count_set3_val') 0